<!DOCTYPE html>
<html lang="en" ng-app="tsanta">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<title>{% block title %}Тайный Санта{% endblock %}</title>

<base href="/panel/">

<!-- Styles -->
<link rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
      integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
      crossorigin="anonymous">
<link rel="stylesheet" href="/static/styles.min.css?v={{ app_version }}">

<!-- Scripts -->
<script type="text/javascript">
let tsanta = {
  api: `${location.protocol}//${location.hostname}:${location.port}/api`,
  version: '{{ app_version }}'
};
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.5/angular.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.5/angular-route.min.js"></script>
<script src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>
<script src="/static/app.js?v={{ app_version }}"></script>
</head>
<body ng-controller="baseCtrl">
  <div class="messenger" ng-show="status_message" ng-bind="status_message"></div>
  <div class="nav-wrapper-self" ng-controller="headerCtrl">
    <nav class="navbar navbar-default">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="/panel/">TSANTA</a>
        </div>
      </div>
    </nav>
  </div>
  <div class="container main">
    {% block content %}{% endblock %}
  </div>
</body>
</html>
