{% extends "panel/base.html" %}

{% block pagename %}Вход в мастерскую{% endblock %}

{% block logo %}
<img src="/static/images/panel_intro.png" alt="Вход в мастрскую" class="panel-intro-img">
{% endblock %}

{% block leftside %}
<!--<a href="/panel/signup">Регистрация</a>-->
{% endblock %}

{% block content %}
<div class="loginform-wrapper">
  <form class="form-horizontal login-form" role="form" method="POST" action="{{ request.get_full_path }}">
    <table class="groups-new-wrapper">
      <tr>
          <td class="labels">
              <label for="login" class="control-label">Email</label>
          </td>
          <td class="elements">
              <input type="email" class="form-control input"
                required id="login" name="username" placeholder="Введите email"
                autofocus="on" value="{{ data.username }}">
          </td>
      </tr>
      <tr>
          <td class="labels">
              <label for="password" class="control-label">Пароль</label>
          </td>
          <td class="elements">
              <input type="password"
                class="form-control input" required id="password"
                name="password" placeholder="Введите пароль">
          </td>
      </tr>
      {% if error_message %}
      <tr>
          <td class="labels"></td>
          <td class="elements">
                <div class="reset-pw-error login-error">
                    <span>{{ error_message }}</span>
                </div>
          </td>
      </tr>
      {% endif %}
      <tr>
          <td class="labels"></td>
          <td class="elements">
              <button type="submit" class="btn btn-warning">Войти</button>
          </td>
      </tr>
    </table>
    {% csrf_token %}
  </form>
</div>
{% endblock content %}
