{% extends "panel/base.html" %}

{% block pagename %}Регистрация эльфов{% endblock %}

{% block logo %}
<img src="/static/images/panel_intro.png" alt="Вход в мастрскую" class="panel-intro-img">
{% endblock %}

{% block leftside %}
<a href="/panel/login">Вход в мастерскую</a>
{% endblock %}

{% block content %}
<div class="loginform-wrapper">
    <form class="form-horizontal login-form" role="form" method="POST" action="{{ request.get_full_path }}">
        {% csrf_token %}
        <table class="groups-new-wrapper">
            <tr>
                <td class="labels">
                    <label for="username" class="control-label">Имя</label>
                </td>
                <td class="elements">
                    <input type="text" class="form-control input"
                            required id="username" name="name"
                            placeholder="Ваше имя" autofocus="on" value="{{ data.name }}">
                </td>
            </tr>
            <tr>
                <td class="labels">
                    <label for="surname" class="control-label">Фамилия</label>
                </td>
                <td class="elements">
                    <input type="text" class="form-control input"
                            required id="surname" name="surname"
                            placeholder="Ваша фамилия" value="{{ data.surname }}">
                </td>
            </tr>
            <tr>
                <td class="labels">
                    <label for="email" class="control-label">Email</label>
                </td>
                <td class="elements">
                    <input type="email" class="form-control input"
                            required id="email" name="email"
                            placeholder="Ваша email" value="{{ data.email }}">
                </td>
            </tr>
            <tr>
                <td class="labels">
                    <label for="password" class="control-label">Пароль</label>
                </td>
                <td class="elements">
                    <input type="password" class="form-control input"
                            required id="password" name="password" placeholder="Ваш пароль">
                </td>
            </tr>
            <tr>
                <td class="labels">
                    <label for="password2" class="control-label">Повторим</label>
                </td>
                <td class="elements">
                    <input type="password" class="form-control input"
                            required id="password2" name="password2" placeholder="Повторите пароль">
                </td>
            </tr>
            {% if error_message %}
            <tr>
                <td class="labels"></td>
                <td class="elements">
                    <div class="reset-pw-error login-error">
                        <span>{{ error_message }}</span>
                    </div>
                </td>
            </tr>
            {% endif %}
            <tr>
                <td class="labels"></td>
                <td class="elements">
                    <button type="submit" class="btn btn-warning">Зарегистрироваться</button>
                </td>
            </tr>
        </table>
    </form>
</div>
{% endblock %}
