.noresize {
    resize: none;
}

.item-delete {
    color: #F5F5F5;
    -webkit-transition: color 0.2s ease;
    -moz-transition: color 0.2s ease;
    -o-transition: color 0.2s ease;
    transition: color 0.2s ease;
    cursor: pointer;
    font-size: 16px;
  }

.item-delete:hover {
    color: #dcdcdc;
}

.event-nav {
    padding-bottom: 50px;
}

.participant-table {
    .num {
        width: 5%;
    }
    .name {
        width: 40%;
    }
    .group {
        width: 45%;
    }
    .status {
        width: 10%;
    }
}

.table-groups {
    .num {
        width: 5%;
    }
    .title {
        width: 43%;
    }
    .slug {
        width: 20%;
    }
    .city {
        width: 30%;
    }
    .status {
        width: 2%;
    }
}
