<div class="event-nav">
    <ul class="nav nav-pills">
        <li><a href="events/{{ event_id }}">Статистика</a></li>
        <li class="active"><a href="events/{{ event_id }}/participants">Участники</a></li>
        <li><a href="events/{{ event_id }}/edit">Редактировать событие</a></li>
        <li><a href="#" uib-tooltip="Обновить данные" ng-click=update()>
            <span class="glyphicon glyphicon-refresh"></span>
        </a></li>
    </ul>
</div>

<div class="event-counters">
    <table class="table table-event-counters table-bordered table-hover">
        <thead>
            <tr>
                <th>Статус анкеты</th>
                <th>Количество анкет с данным статусом</th>
            </tr>
        </thead>
        <tr ng-repeat="state in counters"
            ng-click="filter_participants(state.state_code)"
            class="clickable">
            <td class="states">{{ state.state }}</td>
            <td class="counters">{{ state.count }}</td>
        </tr>
    </table>
    <a ng-show="filter_state >= 0" ng-click="filter_participants(-1)" href="#">Сбросить фильтр</a>
</div>

<div class="event-manage" ng-controller="eventManageCtrl">
    <table class="table-event-manage">
        <tr>
            <td class="buttons">
                <button type="button"
                    class="btn btn-warning"
                    ng-click="send_confirms()">
                    Отправить подтверждения участия
                </button>
            </td>
            <td class="status">
                <p>Подтверждения еще не отправлены</p>
            </td>
        </tr>
        <tr>
            <td class="buttons">
                <div class="btn-group">
                    <button type="button"
                        class="btn btn-warning dropdown-toggle"
                        data-toggle="dropdown">
                        Раздать подопечных
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li><a href="#" ng-click="assign_wards('group');">Распределить в рамках группы</a></li>
                        <li><a href="#" ng-click="assign_wards('city');">Распределить в рамках города</a></li>
                        <li><a href="#" ng-click="assign_wards('all');">Распределить случайно по всем участникам</a></li>
                    </ul>
                </div>
            </td>
            <td class="status">
                <p>Подопечные ни разу не распределялись</p>
            </td>
        </tr>
        <tr>
            <td class="buttons">
                <button type="button"
                    class="btn btn-warning"
                    ng-click="send_wards()">
                    Разослать подопечных
                </button>
            </td>
            <td class="status">
                <p>Подопечные еще не рассылались</p>
            </td>
        </tr>
    </table>
</div>

<table class="participants-search-wrapper">
    <tr>
        <td class="search-input">
            <input type="text" class="form-control"
                placeholder="Поиск участника" autocomplete="off"
                ng-model="search.text"
                ng-keyup="search.search()"
                ng-autofocus="(true)">
        </td>
    </tr>
</table>

<div class="grouplist">
    <table class="table table-hover participant-table">
        <thead>
            <tr>
                <th class="num">#</th>
                <th class="name">Имя</th>
                <th class="group">Группа</th>
                <th class="status">Статус</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="p in participants">
                <td class="num">{{ $index + 1 }}</td>
                <td class="name">
                    <p>{{ p.participant.name }} {{ p.participant.surname }}</p>
                    <p>{{ p.participant.email }}</p>
                    <p>{{ p.participant.phone }}</p>
                </td>
                <td class="group">{{ p.group.short_name }}</td>
                <td class="status">{{ p.state }}</td>
            </tr>
        </tbody>
    </table>
</div>
