<table class="groups-search-wrapper">
    <tr>
        <td class="search-input">
            <input type="text" class="form-control"
                placeholder="Поиск" autocomplete="off"
                ng-model="groups.filter_text"
                ng-keyup="groups.filter()"
                ng-autofocus="(true)">
        </td>
        <td class="other-button">
            <a href="groups/new">
                <button class="btn btn-warning">Добавить группу</button>
            </a>
        </td>
    </tr>
</table>

<div class="grouplist">
    <table class="table table-hover table-groups">
        <thead>
            <tr>
                <th class="num">#</th>
                <th class="title">Название</th>
                <th class="slug">Slug</th>
                <th class="city">Город</th>
                <th class="status"></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="group in groups.items" ng-click="go('groups/' + group.id + '/edit')" class="clickable">
                <td class="num">{{ $index + 1 }}</td>
                <td class="title" ng-bind-html="group.short_name"></td>
                <td class="slug">{{ group.slug }}</td>
                <td class="city">{{ group.city.name }}</td>
                <th class="status">
                    <span ng-show="group.event_lock"
                        uib-tooltip='Участвует в "{{ group.current_event.name }}"'
                        class="glyphicon glyphicon-play"></span>
                </th>
            </tr>
        </tbody>
    </table>
</div>
